.dashboard-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.dashboard-header h1{
  font-size:34px;
  color:#2563eb;
  margin-bottom:6px;
}

.dashboard-header p{
  color:#666;
  font-size:15px;
}

body.dark .dashboard-header p{
  color:#d1d5db;
}

@media(max-width:768px){

.dashboard-header{

flex-direction:column;

align-items:flex-start;

gap:10px;

}

}