.loader-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(280px,1fr));

gap:20px;

}

.loader-card{

height:280px;

border-radius:15px;

background:linear-gradient(
90deg,
#e5e7eb,
#f3f4f6,
#e5e7eb);

background-size:300%;

animation:loading 1.2s infinite;

}

@keyframes loading{

0%{

background-position:100%;

}

100%{

background-position:-100%;

}

}